@import "variables.pcss";

.cocktail_list_wrapper {
    margin: 30px auto;
    max-width: 1280px;
    background-color:
}

.main_cocktail_list {
    background-color: var(--light-background);
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}


