@import "variables.pcss";

.main_cocktail {
   color: var(--text-color);
   font-size: 40px;
   background-color: var(--light-background);
   padding: 20px;
   margin: 15px;
   text-align: center;
}

.main_cocktail h3 {
    width: 300px;
    margin: 20px auto;
}

.image_cocktail {
    height: 500px;
    display: block;
    margin: 20px auto;
}
